# Dependencies
node_modules/
venv/

# Build output
dist/
dist-ssr/
build/
.next/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment files
.env
.env.local
*.local

# Python cache
__pycache__/
*.pyc

# Databases
db.sqlite3

# Editor directories and files
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?